.section-smart_home {
    height: 85rem;
    padding: 2rem;

    &--img-box {

    }

    &--text-box {
        max-width: 45rem;
    }
}

.section-capab {

    &--three-blocks-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 140rem;
        height: 545px;
        border-radius: 36px;
        text-align: center;
        box-shadow: 0px 15px 50px 0 rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(to bottom, rgba(172, 13, 130, 0.08), rgba(172, 13, 130, 0.08)), linear-gradient(to top, #950e82, rgba(255, 255, 255, 0.2)), linear-gradient(to top, #7c0f81, $color-white);

        &--1 {
            max-width: 40rem;
        }

        &--2 {
            max-width: 40rem;
        }   

        &--3 {
            max-width: 40rem;
        }
    }
}