.btn {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 2.75rem;
    color: $color-white;
    border: solid 1px $color-white;
    border-radius: 5rem;
    padding: 1.6rem 8rem;
  }