.search {
    position: absolute;
    right: 20.8rem;
    top: 3.2rem;

    &--input {
        width: 29.5rem;
        height: 3.9rem;
        background-color: transparent;
        border: solid 1px $color-white;
        border-radius: 19.2px;
        padding-left: 2.6rem;
        color: $color-white;
        font-size: 2.2rem;
        
        font-family: 'Montserrat', sans-serif;

        &::placeholder {
            color: $color-white;
            font-size: 2.2rem;
            float: right;
            margin: .5rem 2.6rem 0 0;
            font-family: 'Montserrat', sans-serif;
        }

        &:focus {
           outline: 0;
           caret-shape: bar;
        }
    }

    &--submit {
        display: none;
    }
}