*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: linear-gradient(to right bottom, rgb(96, 16, 133), rgb(211, 66, 211));
}

html {
    font-size: 62.5%;
}